@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.pagination {
  display: flex;
  list-style: none;
  user-select: none;
  justify-content: center;
  margin: 20px 0;
}

.pagination li {
  float: left;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color .1s ease-in;
  border-radius: 3px;
  width: .8rem;
  text-align: center;
}

.pagination li:hover {
  background-color: #bee3fa;
}

.pagination li:active {
  background-color: #67c5ff;
}

.pagination li.active {
  background-color: #67c5ff;
}

.request-users {
  width: 400px;
  height: 150px;
  text-align: center;
  margin-top: -75px;
  margin-left: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.request-users p {
  margin-bottom: 15px;
}

.btn {
  width: 100px;
  display: inline-block;
  padding: 0.3em 1em;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .3s;
}

.btn:hover {
  background: #67c5ff;
  color: white;
}

.table-users {
  border-collapse: collapse;
  width: 100%;
}

.table-users tr {
  border-bottom: 1px solid lightgray;
}

.table-users th {
  text-align: left;
  cursor: pointer;
  user-select: none;
}

.table-users th,
.table-users td {
  padding: 10px;
}

.table-users td img {
  display: flex;
}

.table-users th.sorted[data-order="1"]::after {
  content: "▼"
}

.table-users th.sorted[data-order="-1"]::after {
  content: "▲"
}